---
import Layout from "../../../../../layouts/EbookLayout.astro";
---

<Layout title="Mastering Kubernetes - Chapter 2">
  <div class="px-5 py-4">
    <h1>Chapter 2</h1>
    <h1>Setting up a Local Kubernetes Cluster</h1>
  </div>
</Layout>
